<header>
  <div class="nav">
     <div class="logo"><h1>
          Instagram
     </h1>
</div>
     <div class="search">
          <input type="text" placeholder="search">
     </div>
      <div class="icons">
             <ul>
               <li><a href="/users/profile"></a></li>
             </ul>
      </div>
  </div>

</header>
