<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="/css/profile.css">






<div class="container">




    <div class="nav-page1">

        <div class="nav">

            <div class="logo">
                <h1>Instagram</h1>
            </div>
            <div class="Home same">
                <img src="/images/home.png" alt="">
                <a href="#">
                    <h1>Home</h1>
                </a>

            </div>



            <div class="search same">
                <img src="/images/search.png" alt="">
                <a href="#">
                    <h1>Search</h1>
                </a>

            </div>


            <div class="reels  same">
                <img src="/images/video.png" alt="">
                <a href="#">
                    <h1>Reels</h1>
                </a>

            </div>



            <div class="messages same">
                <img src="/images/chat.png" alt="">
                <a href="#">
                    <h1>Mesages</h1>
                </a>

            </div>



            <div class="notifications same">
                <img src="/images/heart.png" alt="">
                <a href="#">
                    <h1>Notifications</h1>
                </a>

            </div>


            <div class="crete same">
                <img src="/images/more.png" alt="">
                <a href="#">
                    <h1>Crete</h1>
                </a>

            </div>


            <div class="profile same">
                <img src="" alt="">
                <a href="">Profile</a>


            </div>


        </div>

    </div>
    <div class="post-page2">
        <div class="mySwiper" id="swiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <img src="/images/phone1.jpg" alt="">




                </div>
                <div class="swiper-slide">Slide 2</div>
                <div class="swiper-slide">Slide 3</div>
                <div class="swiper-slide">Slide 4</div>
                <div class="swiper-slide">Slide 5</div>
                <div class="swiper-slide">Slide 6</div>
                <div class="swiper-slide">Slide 7</div>
                <div class="swiper-slide">Slide 8</div>
                <div class="swiper-slide">Slide 9</div>
            </div>
            <div class="swiper-pagination"></div>

        </div>


        <div class="post-conatiner">

            <div class="post-wrapper">
                <div class="post">
                    <div class="upper-post">
                        <div class="logo">
                            <img src="/images/phone1.jpg" alt="">

                        </div>
                        <h1>Name</h1>

                    </div>
                    <div class="middle-post">
                        <img src="/images/phone1.jpg" alt="">
                    </div>
                    <div class="lower-post">
                        <div class="comment">
                            <img src="/images/heart.png" alt="">
                            <span>200k likes</span>
                        </div>

                        <img src="/images/comment.png" alt="">
                    </div>

                    <div class="comment-input">
                        <h1>comments</h1>
                        <input type="text" placeholder="Enter your comment">
                    </div>
                </div>
            </div>

            <!-- next post -->
            <div class="post">
                <div class="upper-post">
                    <div class="logo">
                        <img src="/images/phone1.jpg" alt="">

                    </div>
                    <h1>Name</h1>

                </div>
                <div class="middle-post">
                    <img src="/images/phone1.jpg" alt="">
                </div>
                <div class="lower-post">
                    <div class="comment">
                        <img src="/images/heart.png" alt="">
                        <span>200k likes</span>
                    </div>

                    <img src="/images/comment.png" alt="">
                </div>

                <div class="comment-input">
                    <h1>comments</h1>
                    <input type="text" placeholder="Enter your comment">
                </div>
            </div>
            

        </div>

    </div>
    <div class="suggesion-page3">
        <div class="suggestion">
            <div class="profile">
                <div class="logo">
                     <img src="" alt="">
                </div>
                <div class="profile-name">
                    <a href="">User name</a>
                    <span>Name</span>
                </div>
            </div>
        </div>

    </div>
</div>


<!-- Swiper JS -->
<script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>

<script src="/js/profile.js"></script>