<link rel="stylesheet" href="/css/signIn.css">

<div class="container">
    <div class="part1">
        <img src="/images/phone1.jpg" alt="">
    </div>
    <div class="part2">
        <div class="heading">
            <h1>Instragram</h1>
        </div>
        <div class="text">
            <p>
                Sign up to see photos and videos from your friends.
            </p>

        </div>
        <div class="auth-button">
            <button><a href="#"> Log in with Google</a>
            </button>
        </div>

        <div class="underline">
            <div class="hr1">
            </div>
            <div class="or-text">
                <h1>Or</h1>
            </div>

            <div class="hr2">
            </div>


        </div>
        <form action="/users/crete-session" method="post">
            <div class="input-email">
                <input type="email" name="email" id="email-input" placeholder="Enter email" required>
    
            </div>
            
            <div class="input-password">
                <input type="password" name="password" id="input-pssword" placeholder="password" required>
            </div>
            <div class="signUp-button">
                <button type="submit">Sign In</button>
            </div>
        </form>

       








    </div>
</div>



<script src="/js/signIn.js"></script>